$borderColor: #d8dfe6;

.user-card {
    margin-bottom: 30px;

    border: 1px solid $borderColor;
    border-radius: 4px;
    background-color: #fff;

    transition: border-color .2s;

    &:hover {
        border-color: darken($borderColor, 15);
    }
}

.user-card .avatar {
    margin-right: 30px;
}

.user-card .user-details {
    flex: 1;
}

.user-card-inner {
    display: flex;
    align-items: center;

    padding: 20px;
}
