/* ==========================================================================
	Base
/* ========================================================================== */

body {
    min-width: 320px;

    font-family: $fontBase;
    font-size: $fontSizeBase;
    line-height: 1.4;
    color: $colorText;

    background: $colorBody;

    -webkit-font-smoothing: antialiased;
}

a {
    color: $colorText;
    text-decoration: none;
}

ul {
    padding: 0;

    margin: 0;

    list-style-type: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
