.user-details {
    display: flex;
    flex-wrap: wrap;

    h3 {
        width: 50%;

        margin: 0 0 10px;

        font-size: 16px;
        line-height: 20px;
    }

    h3 span {
        font-weight: normal;
    }

    p {
        width: 100%;

        margin: 15px 0;

        font-size: 15px;
        line-height: 18px;
    }
}
