.user-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 980px;
    padding: 25px;

    margin: 30px auto;

    border: 1px solid #d8dfe6;
    border-radius: 4px;
    background-color: #fff;

    .avatar {
        width: 150px;

        margin-right: 20px;
    }

    .user-details {
        flex: 1;
    }

    .user-repositories {
        width: 100%;
        padding: 30px 0;
    }
}
